/* Botões */
button {
  background-color: var(--bs-primary);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: var(--bs-primary-hover);
}
/* Formulários */
input, select, textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input:focus, select:focus, textarea:focus {
  border-color: var(--bs-primary);
}
